<div class="dropdown float-right mx-4">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Trending
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item movie" (click)="getAllPeople('popular')">popular</a>
  </div>

</div>

<div class="clr"></div>

<div class="container">
  

<div class="row my-2">
  <div class="col-md-4">


      <div class="brdr w-25 my-3"></div>
      <h2>
          People <br>
          to Know About
      </h2>

      <div class="brdr w-100 my-3"></div>

  </div>

  <div *ngFor="let person of allPeople" class="col-md-4 ">
      <div [routerLink]="['/peopleDetails' ,person.id ]" class="movie position-relative my-2">
          <img [src]="imgPrefix+person.profile_path" class="img-fluid" alt="">
          <h3 class="h6 my-2">{{person.name}}</h3>

          
      </div>
  </div>

  


</div>






</div>